/* StaffListComponent */

.staffList-staff {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 10px;
  margin-top: 10px;
}
.staffList-btn {
  margin: 10px 0;
  display: none;
}


/* StaffDetailComponent */

.StaffDetail {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 10px;
  margin-top: 10px;
}
